nav {
  display: flex;
  background-color: hsl(0, 0%, 98%);
}
#logo {
  padding: 50px 300px 150px 40px;
}
.left-nav {
  display: flex;
  gap: 30px;
  padding-top: 60px;
  padding-left: 400px;
  padding-right: 40px;
}
.left-nav a {
  text-decoration: none;
  color: hsl(216, 30%, 68%);
}
.left-nav a:hover {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
form input[type="submit"] {
  background-color: hsl(0, 0%, 98%);
  outline-color: hsl(270, 9%, 17%);
  padding-top: 5px;
  padding-bottom: 5px;
  outline-color: none;
  text-align: center;
}
form input[type="submit"]:hover {
  color: hsl(0, 0%, 98%);
  background-color: hsl(270, 9%, 17%);
  outline: none;
}
#section-1 {
  display: flex;
  background-color: hsl(256, 26%, 20%);
  width: 100%;
}
#section-1 form input[type="submit"]:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  border-color: hsl(0, 0%, 98%);
}
#section-1 hr {
  width: 40%;
  margin: 60px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.image > img {
  flex: 1;
}
.image > img {
  width: 100%;
  position: relative;
  top: 100px;
}

#section-2 hr {
  width: 20%;
  margin: 50px;
  margin-bottom: 5px;
  margin-left: 35px;
}
.text {
  padding-left: 150px;
}
.image > img {
  width: 500px;
  padding-top: 100px;
  padding-left: 50px;
  position: relative;
}
h1 {
  font-size: 60px;
  color: hsl(0, 0%, 98%);
  font-family: "Times New Roman", Times, serif;
}
.text p {
  color: hsl(0, 0%, 98%);
  font-size: 20px;
}
.text form input[type="submit"] {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 98%);
}
.flex {
  display: flex;
}
h2 {
  font-size: 60px;
  padding-left: 50px;
}
h3 {
  font-size: 25px;
}
#section-2 {
  padding-left: 50px;
  padding-right: 50px;
}
.flex p {
  color: hsl(273, 4%, 51%);
  padding-left: 30px;
}
#find {
  display: flex;
  background-color: hsl(256, 26%, 20%);
  padding: 30px 40px 20px 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
}

#find form input[type="submit"] {
  margin-left: 550px;
  margin-top: 80px;
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  outline: none;
  border-color: hsl(0, 0%, 98%);
}
#find form input[type="submit"]:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}
h4 {
  font-size: 40px;
  font-weight: bold;
  color: hsl(0, 0%, 98%);
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
}
.insure {
  display: flex;
}
#svg > img {
  padding: 40px 300px 150px 20px;
}
#social-links {
  display: flex;
  gap: 30px;
  padding-top: 40px;
  padding-left: 550px;
}
#social-links:hover {
  cursor: pointer;
  color: hsl(270, 9%, 17%);
}

.last {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

h5 {
  color: hsl(273, 4%, 51%);
  padding-left: 40px;
}
ul span a {
  display: block;
  text-decoration: none;
  color: hsl(270, 9%, 17%);
  font-size: 18px;
}
ul span a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#company {
  padding: 0px 100px 40px 50px;
}
#help {
  padding: 0px 100px 40px 50px;
}
.Contact {
  padding: 0px 100px 40px 50px;
}
#others {
  padding: 0px 100px 40px 50px;
}
footer {
  background-color: hsla(276, 4%, 51%, 0.377);
  margin-left: 0px;
  width: 100%;
}
footer hr {
  width: 80%;
}
